/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f8fc;
    color: #333;
    text-align: center;
  }
  
  /* Header */
  header {
    background-color: #aed9e0;
    padding: 15px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #005f73;
  }
  
  /* Main Content */
  main {
    padding: 20px;
  }
  
  h1 {
    color: #005f73;
  }
  
  /* Listas */
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
  }
  
  ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #005f73;
    border-radius: 10px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
  }
  
  ul li a:hover {
    background-color: #005f73;
    color: white;
  }
  
  /* Footer */
  footer {
    background-color: #aed9e0;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #333;
  }
  